[submodule "libs/crazyflie-lib-python"]
	path = libs/crazyflie-lib-python
	url = https://github.com/bitcraze/crazyflie-lib-python.git
	branch = master
[submodule "crazyswarm2_ws/src/crazyswarm2"]
	path = crazyswarm2_ws/src/crazyswarm2
	url = https://github.com/IMRCLab/crazyswarm2
	branch = main
